.info-card {
  border-right: none;
  border-top: none;
  border-bottom: none;
}

.info-card .card-body {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.border-left-cyan {
  border-left: 0.25rem solid #00B6A2;
}

.text-cyan {
  color: #00B6A2;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.info-card-title {
  font-family: 'Lato', sans-serif;
  font-size: .9rem;
  font-weight: 700;
}

.text-gray-800 {
  color: #5a5c69;
  font-weight: 500;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
}

.text-gray-subtitle {
  color: #5a5c69;
}

.text-gray-300 {
  color: #bbbcc2;
}

.prospect-info-container {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
}

.prospect-info-container textarea {
  background-color: white;
  border-radius: 7px;
}

.conversation-card {
  font-family: 'Lato', sans-serif;
  border-radius: 7px;
  margin-bottom: 10px;
}

.conversation-card .card-title {
  font-size: 1rem;
}

.conversations-section {
  max-height: 385px;
  overflow-y: auto;
}

.subtitle {
  font-weight: 600;
}
